<!doctype html>

<html>
    <head>
        <title></title>
        <meta name="author" content="Warren Haksins">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    </head>

    <body>
        <div class="container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <h1>{{message}}</h1>
                {% endfor %}
                {% endif %}
                {% endwith %}
            <a href="/logout">logout</a>
        </div>
    </body>
</html>